@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

html {
    scroll-behavior: smooth;
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
}

@property --border-angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

@theme {
    --animate-rotate-border: border-rotate 3s linear infinite;

    @keyframes border-rotate {
        to {
            --border-angle: 360deg;
        }
    }
}

@keyframes highlight {
    from {
        width: 0%;
    }
    to {
        width: 100%;
    }
}

@layer components {
    .elevation1 {
        @apply rounded-2xl border border-zinc-200 bg-white p-5 transition-all duration-300 ease-out hover:-translate-y-1.5 hover:border-zinc-300 hover:shadow-[0_8px_24px_-4px_rgba(0,0,0,0.3),0_2px_8px_-2px_rgba(0,0,0,0.04)] active:shadow-[0_8px_24px_-4px_rgba(0,0,0,0.5),0_2px_8px_-2px_rgba(0,0,0,0.04)];
    }
    .elevation2 {
        @apply rounded-xl px-2 py-2.5 transition-[background,box-shadow,transform] duration-200 ease-out hover:-translate-y-0.5 hover:bg-white hover:shadow-[0_4px_16px_-2px_rgba(0,0,0,0.06),0_1px_4px_-1px_rgba(0,0,0,0.04)] active:shadow-[0_4px_12px_-2px_rgba(0,0,0,0.2),0_1px_4px_-1px_rgba(0,0,0,0.1)];
    }
    .elevation3 {
        @apply animate-rotate-border w-full rounded-2xl bg-transparent from-zinc-200 from-0% via-green-400 to-zinc-200 to-100% p-px transition-all duration-300 ease-out;
    }
    .elevation3:hover {
        @apply -translate-y-1.5 bg-conic/[from_var(--border-angle)] shadow-[0_8px_24px_-4px_rgba(0,0,0,0.3),0_2px_8px_-2px_rgba(0,0,0,0.04)];
    }
    .elevation3Active {
        @apply -translate-y-1.5 bg-conic/[from_var(--border-angle)] shadow-[0_8px_24px_-4px_rgba(0,0,0,0.3),0_2px_8px_-2px_rgba(0,0,0,0.04)];
    }
}

.highlightWord {
    z-index: 0;
}

.highlightWord::before {
    content: "";
    position: absolute;
    inset: 0;
    background: #64d98b;
    width: 0%;
    animation: highlight 0.2s ease-out 0.2s forwards;
    z-index: -1;
}

.highlightLink {
    position: relative;
    z-index: 0;
    padding: 4px 8px;
}

.highlightLink:hover {
    color: #1c3825;
}

.highlightLink::before {
    content: "";
    position: absolute;
    inset: 0;
    background: #64d98b;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s ease-out;
    z-index: -1;
}

.highlightLink:hover::before {
    transform: scaleX(1);
    transform-origin: left;
}

@keyframes pulseLine {
    0%,
    100% {
        opacity: 0.2;
        transform: scaleX(0.6);
    }
    50% {
        opacity: 1;
        transform: scaleX(1);
    }
}
