@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@theme {
    --color-primary-50: #ebfef5;
    --color-primary-100: #d0fbe4;
    --color-primary-200: #a4f6ce;
    --color-primary-300: #6aebb5;
    --color-primary-400: #2fd896;
    --color-primary-500: #0abf7f;
    --color-primary-600: #009966;
    --color-primary-700: #007c56;
    --color-primary-800: #036245;
    --color-primary-900: #04503a;
    --color-primary-950: #012d22;

    --color-secondary-50: #fafafa;
    --color-secondary-100: #f7f7f7;
    --color-secondary-200: #e6e6e6;
    --color-secondary-300: #d6d6d6;
    --color-secondary-400: #a5a5a5;
    --color-secondary-500: #767676;
    --color-secondary-600: #575757;
    --color-secondary-700: #434343;
    --color-secondary-800: #292929;
    --color-secondary-900: #1a1a1a;
    --color-secondary-950: #0a0a0a;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

html {
    scroll-behavior: smooth;
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-sans);
}

@property --border-angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

@theme {
    --animate-rotate-border: border-rotate 3s linear infinite;

    @keyframes border-rotate {
        to {
            --border-angle: 360deg;
        }
    }
}

@keyframes pulseLine {
    0%,
    100% {
        opacity: 0.2;
        transform: scaleX(0.6);
    }
    50% {
        opacity: 1;
        transform: scaleX(1);
    }
}

.highlightLink {
    position: relative;
    z-index: 0;
    padding: 4px 8px;
}

.highlightLink:hover {
    color: #1c3825;
}

.highlightLink::before {
    content: "";
    position: absolute;
    inset: 0;
    background: #64d98b;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s ease-out;
    z-index: -1;
}

.highlightLink:hover::before {
    transform: scaleX(1);
    transform-origin: left;
}
